@tailwind base;
@tailwind components;
@tailwind utilities;

body { margin: 0; overflow: hidden; background-color: black; }

#cursor {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  pointer-events: none;
  display: none;
  will-change: transform;
}
