body { margin: 0; overflow: hidden; background-color: black; }

#cursor {

  position: absolute;

  top: 0;

  left: 0;

  width: 20px;

  height: 20px;

  border: 2px solid white;

  border-radius: 50%;

  pointer-events: none;

  display: none;

  will-change: transform;

}
